# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and dependencies
node_modules
/.pnp
.pnp.js

# Build outputs
dist
dist-ssr
/build
/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Coverage
/coverage

# Next.js specific files
/.next/
/out/

# Miscellaneous files
*.pem
.env*.local

# Hosting/Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
