.container {
    color: white;
    margin: 0;
    text-align: center;
    background-color: black;
    cursor: crosshair;
  }
  
  .small {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .header {
    top: 42%;
  }
  
  .header-content {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .footer {
    bottom: 3%;
  }
  
  .description {
    color: gray;
    padding-top: 50px;
  }
  
  a,
  a:hover,
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  }